<a href="https://colab.research.google.com/github/suphalaksana/data_viz_2022/blob/main/DataViz04_Data_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เปรียบเทียบ ข้อมูล ด้วย coordinate plot

In [1]:
import pandas as pd

In [2]:
example_df = pd.read_csv('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/iris.csv')  #อ่านไฟล์ในเน้ตได้
example_df  #นำข้อมูลเข้า

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
sample_data = example_df.groupby('Name').mean()  #หยิบ data มา

In [9]:
sample_data

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

In [12]:
sample_data.iloc[0,:]

SepalLength    5.006
SepalWidth     3.418
PetalLength    1.464
PetalWidth     0.244
Name: Iris-setosa, dtype: float64

In [10]:
from matplotlib import pyplot as plt

In [ ]:
plt.plot([1,2,3,4],sample_data.iloc[0,:],'r')
plt.plot([1,2,3,4],sample_data.iloc[1,:],'g')
plt.plot([1,2,3,4],sample_data.iloc[2,:],'b')